body{
    margin-top: 70px;
}
.heart{
    color: #ff0e16;
    font-size: 100px;
    text-align: center;
    padding-top:88px;
}
.title{
    text-align: center;
    font-size:18px;
}
#signContainer{
    margin-top:6px;
}